.root{
	-global-color-transp: transparent;
	-global-color-light-blue: #00A8E8;
	-global-color-mid-blue: #007EA7;
	-global-color-dark-blue: #003459;
	-global-color-white: #FFFFFF;
	
	-fx-background-color: -global-color-white;
	-fx-focus-color: -global-color-transp;
	-fx-faint-focus-color: -global-color-transp;
}

.menu-bar{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}

.menu-bar .label{
	-fx-background-color: -global-color-transp;
	-fx-font-size: 11.0pt;
}

.menu:hover{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
}

.menu:showing{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
}

.context-menu{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-light-blue;
	-fx-border-width: 1.0px;
}
.menu-item:hover{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
}

.menu-item:focused{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
}

.split-pane{
	-fx-background-color: -global-color-transp;
}

.anchor-pane{
	-fx-background-color: -global-color-transp;
}

.label{
	-fx-text-fill: -global-color-dark-blue;
	-fx-font-size: 13.0pt;
}

.table-view{
	-fx-background-color: -global-color-transp;
}

.table-row-cell{
	-fx-border-color: -global-color-light-blue;
}

.column-header-background{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-light-blue;
	-fx-border-width: 2.0px;
}

.column-header{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-light-blue;
	-fx-border-width: 0.0px 1.0px;
}

.split-pane-divider{
	-fx-background-color: -global-color-light-blue;
	-fx-padding: 0.5;
}

.tab-pane{
	-fx-background-color: -global-color-transp;
}

.tab-header-background{
	-fx-background-color: -global-color-transp;
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
	-fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}

.tab{
	-fx-background-color: -global-color-transp;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
	-fx-font-size: 13.0pt;
	}
	
.tab:selected{
	-fx-border-color: -global-color-transp -global-color-transp -global-color-light-blue -global-color-transp;
}