.background {
    -fx-background-color: #253031;
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
}

.table-view {
    -fx-base: #253031;
    -fx-control-inner-background: derive(#253031, 50%);
    -fx-background-color: #253031;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #0094C6;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #253031 transparent #253031;
    -fx-background-color: transparent, derive(#253031, 50%);
}

.split-pane{
    -fx-padding: 1 0 0 0;
}

.tab-pane{
	-fx-background-color: #253031;
}

.tab-pane .tab-header-background{
	-fx-background-color: #253031;
}

.tab-pane .tab{
	-fx-background-color: derive(#253031, 50%);
}

.tab-pane .tab:selected{
	-fx-background-color: #2589BD;
}
.tab-pane .tab-label{
	-fx-font-size: 14pt;
	-fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #253031;
}

.context-menu {
    -fx-background-color: derive(#253031, 50%);
    -fx-border-color: #253031;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.menu-bar .menu:hover{
	-fx-background-color: #2589BD;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
}